/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Mixins.
 */
/**
 * A small clearfix:
 * http://stackoverflow.com/questions/211383/what-methods-of-clearfix-can-i-use
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: rgba(20, 20, 20, 0.9);
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 "Open Sans";
  font-size: 16px;
  line-height: normal;
  background-image: url("../img/bakgrund.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
.wrap-all {
  color: rgba(255, 255, 255, 0.9);
}
.outer-wrap-header {
  background-color: rgba(20, 20, 20, 0.9);
}
.outer-wrap-header::after {
  content: "";
  display: block;
  clear: both;
}
.inner-wrap-header {
  max-width: 100%;
  overflow: hidden;
}
.site-logo {
  display: none;
}
.region-header-col-1 {
  width: 20%;
  float: left;
}
.region-header-col-2 {
  width: 60%;
  float: left;
  text-align: center;
}
.region-header-col-3 {
  width: 20%;
  float: left;
}
.rm-navbar ul {
  list-style: none;
}
.rm-navbar ul li a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
.rm-navbar ul li a:hover {
  color: green;
}
.region-flash {
  width: 100%;
  overflow: hidden;
}
.region-breadcrumb {
  background-color: rgba(20, 20, 20, 0.9);
}
.region-breadcrumb ul {
  list-style: none;
}
.region-breadcrumb ul li a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
.region-breadcrumb ul li a:hover {
  color: green;
}
.inner-wrap-main {
  background-color: rgba(20, 20, 20, 0.9);
}
.inner-wrap-main::after {
  content: "";
  display: block;
  clear: both;
}
.region-main {
  width: 100%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
}
.region-main.has-sidebar {
  width: 65%;
}
.region-main.has-sidebar-left.has-sidebar-right {
  width: 50%;
}
.wrap-sidebar {
  min-height: 100%;
  margin-top: 5px;
  padding-left: 2%;
}
.wrap-sidebar .block {
  padding-left: 5%;
  margin-bottom: 50px;
  border-top: 6px solid rgba(255, 255, 255, 0.4);
}
.region-sidebar-left {
  width: 25%;
  float: left;
}
.region-sidebar-left.has-sidebar-right {
  width: 20%;
}
.region-sidebar-left ul {
  list-style: none;
}
.region-sidebar-left ul li a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
.region-sidebar-left ul li a:hover {
  color: green;
}
.region-sidebar-right {
  width: 25%;
  float: left;
}
.region-sidebar-right.has-sidebar-left {
  width: 20%;
}
.region-sidebar-right a {
  color: green;
  text-decoration: none;
}
.region-sidebar-right a:hover {
  color: white;
  text-decoration: underline;
}
.outer-wrap-footer {
  background-color: rgba(20, 20, 20, 0.9);
}
.footer-column {
  width: 33%;
  float: left;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .rm-small {
    display: block;
  }
  .rm-desktop {
    display: none;
  }
}
@media screen and (min-width: 680px) {
  .rm-small {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
