/**
 * Base style to affect HTML elements on a general scale.
 */
@bgColorHtml: rgba(20, 20, 20, 0.9);
@bgColorBody: #fff;
@textColor: rgba(255, 255, 255, 0.8);
@linkColor: rgba(13, 135, 125, 0.7);
@linkColorHover: rgba(13, 135, 125, 1.0);
@smallMenuColor: rgba(13, 135, 125, 1.0);
@navBorderBottomColor: rgba(13, 135, 125, 0);
@navBorderBottomColorHover: rgba(13, 135, 125, 1.0);
@navBorderBottomColorActive: rgba(0, 0, 0, 0.5);
@navBGColorHover: rgba(20, 20, 20, 0.4);
@navBGColorActive: rgba(0, 0, 0, 0.8);
@navTextColor: rgba(255, 255, 255, 0.8);
@navTextColorHover: rgba(255, 255, 255, 1.0);
@navTextColorActive: rgba(20, 20, 20, 0.4);

@borderLeftColor: rgba(13, 135, 125, 0.6);
@blockBorderColor: rgba(255, 255, 255, 0.2);
@h4BorderLeftColor: rgba(13, 135, 125, 0.6);

@leftMenuLinkColor: rgba(255, 255, 255, 0.8);
@leftMenuLinkColorHover: rgba(255, 255, 255, 1.0);
@leftMenuLinkColorActive: rgba(20, 20, 20, 1.0);
@leftMenuBorderLeftColor: rgba(255, 255, 255, 0.2);
@leftMenuBorderLeftColorHover: rgba(13, 135, 125, 1.0);
@leftMenuBorderLeftColorActive: rgba(0, 0, 0, 0.7);
//@fontFamilyBody: "Open Sans";
//@fontSize: 16px;
//@lineHeight: normal;

html {
    overflow-y: scroll;
    background-color: @bgColorHtml;
}

body {
    margin: 0;
    padding: 0;
    color: @textColor;
    background-color: @bgColorBody;
    //font: 100.01%/1 @fontFamilyBody;
    //font-size: @fontSize;
    //line-height: @lineHeight;
    background-image: url("../img/bakgrund.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    #desinax-hgrid.font(@fontSizeBody);
}

div {
    display: block;
}

 a {
    color: @linkColor;
    text-decoration: none;
    transition: 0.2s;
}

 a:hover {
    //text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
    color: @linkColorHover;
    text-decoration: none;
}

img {
    max-width: 100%;
}

// Activate grid and affect all typographic elements
#desinax-hgrid.activateDefaultTypography();
